.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.list button {
    cursor: pointer;
    background-color: #1c4d7b;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    width: 200px;
    height: 100px;  
    border: none    ;
    border-radius: 20px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.card {
    justify-content: space-between;
    background-color:  #000000;
    width: 80%;
    height: 400px;
    margin: 0 40px;
    padding-right: 20px;
=======
.table {
    width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;

}
.table td {
    border: 2px solid white;
    border-bottom: none;
}
.name{
    text-align: left;
    margin-left: 10px;
}
.table th {
    font-size: xx-large;
    width: 250px;
    height: 70px;
    text-align: center;
    border: 2px solid white;
>>>>>>> refs/remotes/origin/main
}

.table tr {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% / 3) - 30px;
    height: 200px;
}

button {
    cursor: pointer;
    background-color: #b99272;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    height: 50px;  
    border: none    ;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
}




