.container {
    position: relative;
    display: flex;
    background: rgba(55, 55, 55, 0.2);
    backdrop-filter: blur(8px);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.list a {
    text-align: center;
    cursor: pointer;
    background-color: #b99272;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    height: 50px;  
    border-radius: 20px;
    text-decoration: none;
    padding-top: 12px;
    margin-bottom: 20px;
}

.list a:hover {
    transition: 0.7s;
    scale: 0.9;
}
.list a:active {
    transition: 0.6s;
    scale: 1; 
}

.table {
    width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;

}

.table td {
    border: 2px solid white;
    border-bottom: none;
}

.name{
    text-align: left;
    margin-left: 10px;
}

.table th {
    font-size: xx-large;
    width: 250px;
    height: 70px;
    text-align: center;
    border: 2px solid white;
}

.table tr {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.img {
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    margin: 10px 0;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% / 3) - 30px;
    height: 200px;
}

button {
    cursor: pointer;
    background-color: #b99272;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    height: 50px;  
    border: none    ;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

button:hover {
    transition: 0.7s;
    scale: 0.9;
}
button:active {
    transition: 0.6s;
    scale: 1;
}




