.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 80px 10px;
}
.bg-img {
    /* background-image: url(../images/png/chalkboard-main-background.png); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.card {
    background: transparent;
    display: flex;
    width: 30%;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}
.card:first-child {
    margin-left: 0;
}
.card:last-child {
    margin-right: 0;
}

.card-img {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
.card-body {
    text-align: center;
    color: #ffff;
}
.card-title {
    color: #b99272;
    margin-bottom: 35px;
}
.card-text {
    text-align: center;
    border-bottom: 2px solid #ffff;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.card-text:last-child {
    border: none;
}
.contact-menu {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
}
.contact-menu h4 {
    color: #b99272;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .03em;
}
.contact-menu h2 {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-family: Oswald;
    font-weight: 400;
    margin-bottom: 20px;
}
.input-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.input-menu > input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    padding-left: 10px;
}
input[type="tel"] {
    margin-right: 0;
}

.text-subject {
    margin-bottom: 20px;
}

.text-message {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-menu button {
    cursor: pointer;
    background-color: #b99272;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    width: 210px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    margin-bottom: 100px;
}
