* {
    color: #000000;
}
h1 {
    text-align: center;
    margin: 70px 0 15px 0;
    font-size: 36px;
}
h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

#world {
    display: block;
}
#first {
    margin-top: 140px;
}
.container {
    display: flex;
}
.block {
    padding: 50px;
}
.block p {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
}



.category {
    display: flex;
    margin-top: 80px;
}
.list-group {
    padding: 40px;
    margin-left: 170px;
}
.list-group:last-child {
    margin-left: 10px;
}
.list-group-item {
    width: 450px;
    height: 130px;
    border: 1px solid black;
}
.list-group-item-action {
    font-size: 32px;
    font-weight: bold;
}
.list-group-item-action:hover {
    background-color: #efe78f;
}

