form {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input {
    background-color: transparent;
    border: 2px solid #ffff;
    color: #fff;
    width: 400px;
    height: 70px;
    margin: 0 auto;
    padding-left: 10px;
}

form > p {
    margin-top: 20px;
}
.show-btn {
    padding: 3px;
}
.profile-btn {
    color: #fff;
    text-decoration: none;
}