form {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form > input {
    background-color: transparent;
    border: 2px solid #ffff;
    color: #fff;
    width: 400px;
    height: 70px;
    margin: 0 auto;
    padding-left: 10px;
}
form > p {
    margin-top: 20px;
}
form > profile-box {
    text-align: center;
    cursor: pointer;
    background-color: #b99272;
    text-transform: uppercase;
    width: 150px;
    height: 50px;  
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    padding-top: 14px;
}
.profile-btn {
    color: #fff;
    text-decoration: none;
}