#responsive-navbar-nav {
   margin-top: 15px;
}
.navbar {
   background: linear-gradient(-45deg, #022738, #00454e, #000000, #04693d, #00923b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
   0% {
       background-position: 0% 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0% 50%;
}
}
.nav-list {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}
.nav-link {
   font-size: larger;
}
.nav-link:hover {
   color: #efe78f;
}
 .load {
   width: 200px;
   height: 200px;
   display: block;
   margin: auto;
   margin-top: 200px;
}
