#responsive-navbar-nav {
   margin-top: 15px;
}
.navbar {
   background-color: #212529;
}
.nav-list {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}
.nav-link {
   font-size: larger;
}
.nav-link:hover {
   color: #efe78f;
}
 .load {
   width: 200px;
   height: 200px;
   display: block;
   margin: auto;
   margin-top: 200px;
}
