#responsive-navbar-nav {
   margin-top: 15px;
}
.navbar-toggler-icon {
   margin-left: 0px;
}
.nav-link {
   margin-left: 30px;
}
.nav-link:first-child {
   margin-left: 150px;
}
.nav-link:hover {
   color: #efe78f;
}
 .load {
   width: 200px;
   height: 200px;
   display: block;
   margin: auto;
   margin-top: 200px;
}
