.swiper {
  width: 750px;
  height: 400px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 900px;

}
.swiper-slide img {
  display: block;
  width: 650px;
  height: 400px;
}
