@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Sigmar';
}
body {
 height: 200vh;
}
#responsive-navbar-nav {
  margin-top: 15px;
}


body {
  background: linear-gradient(-45deg, #d5e2aa, #7590d4, #8c8a95, #dfa0df);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} 