/* @import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap'); */
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: Oswald;
 color: #fcf5f5;

}
body {
    background: url('./components/images/png/back.jpeg') fixed;
    background-size: cover;
    background-position: center center;
}
/* .Bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
} */
